<div class="container" style="background: black;">
  <h4 class="page-header">About This Web Application</h4>

<div class="container">
  <p>Our website is an online catalog of all the episodes of Game of Thrones with descriptions. The episodes are provided in 480p and 720p quality. These are offered as direct downloads for now. Online streaming is coming soon..
  </p>
  <p>
  Game of Thrones is an American fantasy drama television series created by showrunners David Benioff and D. B. Weiss. It is an adaptation of A Song of Ice and Fire, George R. R. Martin's series of fantasy novels, the first of which is titled A Game of Thrones. It is filmed in a Belfast studio and on location elsewhere in Croatia, Iceland, Malta, Morocco, Northern Ireland, Spain, Scotland, and the United States, and premiered on HBO in the United States on April 17, 2011. The series has been renewed for a sixth season,which will premiere on April 24, 2016. </p>
    </div>
</div>
<br/>
<div class="container" style="background: black;">
  <h4 class="page-header">Disclaimer</h4>

<div class="container">
  <p>Product and company names mentioned in the Site may be the trademarks of their respective owners.

All content present on this site is the exclusive property of their respective owners. The text, images, graphics, video and audio used on this site belong to their respective owners. No material from this site may be copied, modified, reproduced, republished, uploaded, transmitted, posted or distributed in any form without prior written permission from their respective owners.

Use of this service is entirely at your own risk. We cannot take responsibility for any direct or indirect damages resulting from the use of this service. </p>
    </div>
</div>
