<div class="jumbotron">
  <h1>Hello</h1>
  <p class="lead">
    <!--<img src="images/yeoman.png" alt="I'm Yeoman"><br>-->
    Your one stop for all Game of Thrones downloads! 
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  Made With
  <h4>Grunt</h4>
  <p>
    Automation, performing repetitive tasks like minification, compilation, unit testing and linting.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the MVVM-MVC framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
